{% extends "./plantilla.html" %}

{% block title %} Sistema Tecnico {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
 
        <h2>Gestión de Equipos Informaticos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarEquipo/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtcodigo" name="txtcodigo" class="form-control" placeholder="Código"
                            minlength="11" maxlength="11" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtnroSerie" name="txtnroSerie" class="form-control" placeholder="Nro. Serie"
                            maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtmodelo" name="txtmodelo" class="form-control" placeholder="Modelo (Marca)"
                            maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtcolor" name="txtcolor" class="form-control" placeholder="Color"
                            maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtdescripcion" name="txtdescripcion" class="form-control" placeholder="Descripcion"
                            maxlength="50" required>
                    </div>
                    <br>

                  
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                    <br>
                   
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <br>
        <h1>Listado de Equipos</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Nro. Serie</th>
                        <th>Modelo</th>
                        <th>Color</th>
                        <th>Descripcion</th>
                        <th colspan="2">OPCIONES</th>
                    </tr>
                </thead>
                <tbody>

                    {% for c in equipo %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{c.codigo}}</td>
                        <td>{{c.nro_serie}}</td>
                        <td>{{c.modelo}}</td>
                        <td>{{c.color}}</td>
                        <td>{{c.descripcion}}</td>
                        <td><a href="edicionEquipo/{{c.codigo}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarEquipo/{{c.codigo}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                   
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
